.artistsDiv {
  margin:50px;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
  width: 50px;
  grid-gap: 20px
}

.artiststext {
 margin:30px;
line-height: 19px;
  text-align: center;
}
.artistsDiv>img{
  width: 360px;
  object-fit: cover;
  object-position: 20% 0;

  height: 300px
}
.addform{
  width: 800px;
 background-color: #ffefbf;
 border-radius: 10px ;
 margin-top: 10px;
 margin-left:260px;
 padding-right:40px;
 margin-bottom:20px
}
.form-comment{
  height: 100px;
  margin-top: 10px;
 margin-left:20px;
 
}
.form-control{
  
  margin:20px;
  height: 40px
}
button, .button, [type="submit"], .dropimage {
  margin: 10px !important;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: .2em;
  height: auto;
  box-shadow: 0 0 transparent inset;
}
input, textarea, .select select {

  line-height: 1.5;
  margin: 0;
  height: 2.1em;
  padding: .3em .6em;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: .2em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
 
}