
.title{
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding-bottom: 10px;
  font-size: 42px;
  color: rgb(252, 252, 252);
}

#title-Tag-Line{
    font-size: 20px;
}
/* This will center the form */
.wrapper {
  width: 80%;
  height: 50%;
  margin: 5% auto 0 auto; 
}

/* form animation starts */
.formcontact {
  background: #ffefbf;
  text-align: center; 
  box-shadow: 0px 0px 20px 5px #AAA; 
  border-radius: 10px;  
  width: 500px; 
  height: 500px;
  margin-top: 20px;
  padding: 10px 10px;  
  margin-left: 270px;
  animation: bounce 1.5s infinite;
  margin-bottom: -100px
}

.name { 
  background-color: #272e6e;
  border-bottom: 5px solid rgba(20, 2, 126, 0.432);
  color: white;
  width:300px;
}

::-webkit-input-placeholder{
    color: white;
    font-size: 20px;
}
.name:hover{
  background-color: #272e6e;
  border-bottom: 5px solid rgba(20, 2, 126, 0.432);
  height:30px;
  width:400px;
}

.email {
  background-color: #272e6e;  
  border-bottom: 5px solid rgba(20, 2, 126, 0.432);
  height:50px;
  width:300px;
  
}
.email:hover{
  background-color: #7239C1;  
  border-bottom: 5px solid rgba(20, 2, 126, 0.432);
  height:30px;
  width:380px;
 
}
.message {   
  background-color: #7239C1;
  border-bottom: 5px solid rgba(20, 2, 126, 0.432);
  overflow: hidden;
  height: 200px;  
  width:300px;
}

.message:hover{
  background-color: #7239C1;
  border-bottom: 5px solid rgba(20, 2, 126, 0.432);
  height: 100px;
  width:370px;
}

.submitcontact{
  border-radius:5px;
  padding:10px;
  background-color: #f4b700;  
  border: none;
  width: 150px;
  border-bottom: 5px solid rgb(133, 114, 6); 
  transform: translateY(-120px); 
  margin-top: 500px

}

.submitcontact:hover{
  border-bottom: 5px solid #f4b700;  
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
}

.entry{
  display: block;
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s ease 0s;
  box-shadow: 0px 0px 25px 2px #AAA;  
}

/* Shadow to make it look like form is floating  */
.shadow{
  box-shadow: 0px 0px 60px 5px #AAA;
  opacity: 0.5;
  border-radius: 100px;
  width: 50%; 
  margin: 50px auto 0 auto;
  padding: 0 20px;  
  animation: shadow 1.5s infinite;
}
.submitcontact{
  border-radius:5px;
  padding:10px;
  width:150px;
  color: white;
  background-color:  #f4b700;  
  border: none;
  border-bottom: 5px solid rgb(133, 114, 6); 
  margin-top: 150px; 

}



@keyframes bounce{
  0%{
    
  }
  50%{
    transform: translate(0, 8px);
  }

}
@keyframes shadow{
  0%{
    
  }
  50%{
    opacity: 0.8;
    width: 50%;
  }
}
