
.regform {
  margin-left: 350px;
  width: 600px;
  margin-top: 150px;
  margin-bottom: 20px;
 background-color: #ffefbf;
 border-radius: 20px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  transition: .5s ease;
  height: 600px
}

.regform:hover {
  box-shadow: 0px 0px 40px 16px rgba(18,18,18,1.00);
}

.buttonreg {
  
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #272e6e;
  color: #ffffff;
  transition: all 0.5s ease;
  border-radius: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 120px;
  margin-left: 235px
}
.buttonreg:hover, .buttonreg:focus {
  background: #4856d3;
}
.inputtext{
  width: 400px;
  margin-left: 20px;
  
}
.textform{
  font-family: 'Apple Chancery, cursive';
  font-size: 20px
  
}
